* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

:root {
  --c-f-body: rgb(10 10 30);


  --f-s8: 2rem;
  --f-s7: 1.8rem;
  --f-s6: 1.6rem;
  --f-s5: 1.4rem;
  --f-s4: 1.2rem;
  --f-s3: 0.8rem;
  --f-s2: 0.6rem;
  --f-s: 0.4rem;

  --c-text1: rgb(255 255 255);
  --c-text2: rgb(230 230 230);
  --c-text3: rgb(200 200 200);
  --c-text4: rgb(180 180 180);

  --c-border: rgb(0 255 255);
}

body {
  background: var(--c-f-body);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header button {
  border-radius: 10px;
  padding: 8px;
  background: none;
  border: 1px solid var(--c-border);
  color: var(--c-text2);
}

.header .title {
  color: var(--c-text1);
  font-size: var(--f-s5);
}

.table {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid var(--c-border);
  border-radius: 10px;
}

.table .title-code {
  font-size: var(--f-s4);
  color: var(--c-text2);
}

.table .code {
  color: var(--c-text3);
  font-size: var(--f-s3);
}