* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

:root {
  --c-f-body: rgb(10 10 30);


  --f-s8: 3.2rem;
  --f-s7: 2.8rem;
  --f-s6: 2.4rem;
  --f-s5: 2rem;
  --f-s4: 1.6rem;
  --f-s3: 1.2rem;
  --f-s2: 0.8rem;
  --f-s: 0.4rem;

  --c-text1: rgb(255 255 255);
  --c-text2: rgb(230 230 230);
  --c-text3: rgb(200 200 200);
  --c-text4: rgb(180 180 180);
}

body {
  background: var(--c-f-body);
}

.title {
  text-align: center;
  margin: 20px;
  color: var(--c-text1);
  font-size: var(--f-s4);
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.table .title-code {
  font-size: var(--f-s3);
  color: var(--c-text2);
}

.table .code {
  color: var(--c-text3);
  font-size: var(--f-s2);
}