* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, monospace;
  scroll-behavior: smooth;
}

:root {
  --c-body: rgb(10, 10, 24);

  --c-border: rgb(0 255 255);



  /* header */
  --c-page-name: rgb(255 255 255);
  --f-s-page-name: 20px;
  
  --c-nav__text: rgb(200 200 200);
  --f-s-nav__text: 12px;



  /* main */
  --c-section-name: rgb(200 200 200);
  --f-s-section-name: 18px;

  --c-section-text: rgb(180 180 180);
  --f-s-section-text: 14px;

  --c-proyect-name: rgb(160 160 160);
  --f-s-proyect-name: 14px;

  --c-proyect-description: rgb(140 140 140);
  --f-s-proyect-description: 10px;

  --s-c-i: 50px;
}

body {
  background: var(--c-body);
  padding-bottom: 10vh;
}

hr {
  border: 0px solid transparent;
  border-bottom: 0.5px solid var(--c-border);
}

img {
  width: 100%;
  height: 100%;
}


/* header */

.header {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.page-name {
  color: var(--c-page-name);
  font-size: var(--f-s-page-name);
}

.nav__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav__ul a, li {
  text-decoration: none;
  list-style: none;
}

.nav__text {
  color: var(--c-nav__text);
  font-size: var(--f-s-nav__text);
}

.nav__text:hover {
  color: rgb(0 255 255);
}



/* main */

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section {
  margin: 20px auto;
  width: 80%;
}

.section-name {
  color: var(--c-section-name);
  font-size: var(--f-s-section-name);
}

.home {
  width: 90%;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/design-web-b.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  border-radius: 6px;
  overflow: hidden;
}

.home .section-name {
  font-size: 30px;
  padding: 2px 6px;
  border-radius: 8px;
  display: inline;
  background: rgba(0, 0, 0, .6);
  -webkit-backdrop-filter: blur(2px);
}

.section-text {
  padding: 10px;
  color: var(--c-section-text);
  font-size: var(--f-s-section-text);
}

.section-text img {
  border-radius: 10px;
  float: right;
  width: 120px;
}

.proyects {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.proyects .proyects-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.proyects .proyects-gallery .proyect {
  border-radius: 10px;
  padding: 8px;
  background: rgb(10 10 34);
  width: 100%;
  box-shadow: -2px 2px 10px rgb(0 0 0);
}

.proyects .proyects-gallery .proyect .proyect-name {
  color: var(--c-proyect-name);
  font-size: var(--f-s-proyect-name);
}

.proyects .proyects-gallery .proyect .proyect-description {
  color: var(--c-proyect-description);
  font-size: var(--f-s-proyect-description);
}

.proyects .proyects-gallery .proyect .proyect-description a {
  float: right;
  bottom: 0%;
}

.proyects .proyects-gallery .proyect .proyect-description a button {
  border: none;
  margin-top: 12px;
  padding: 0px 6px;
  border-radius: 4px;
  background: rgb(20 20 44);
  color: rgb(120 120 120);
}


.contact .div-contact {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.contact .div-contact article {
  width: var(--s-c-i);
  height: var(--s-c-i);
}

.contact .div-contact article a {
  padding: 6px;
}
.contact .div-contact article a img {
  width: 100%;
  height: 100%;
}

@media (min-width: 720px){

  :root {
    --c-body: rgb(10, 10, 24);
  
    --c-border: rgb(0 255 255);
  
  
  
    /* header */
    --c-page-name: rgb(255 255 255);
    --f-s-page-name: 30px;
    
    --c-nav__text: rgb(200 200 200);
    --f-s-nav__text: 22px;
  
  
  
    /* main */
    --c-section-name: rgb(200 200 200);
    --f-s-section-name: 28px;
  
    --c-section-text: rgb(180 180 180);
    --f-s-section-text: 24px;
  
    --c-proyect-name: rgb(160 160 160);
    --f-s-proyect-name: 24px;
  
    --c-proyect-description: rgb(140 140 140);
    --f-s-proyect-description: 20px;
  
    --s-c-i: 100px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .page-name {
    color: var(--c-page-name);
  }

  .nav__text {
    color: var(--c-nav__text);
    font-size: var(--f-s-nav__text);
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .home {
    margin-top: 80px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
  }

  .proyects {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .proyects .proyects-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .proyects .proyects-gallery .proyect {
    box-shadow: -2px 2px 10px rgb(0 0 0);
  }
}