* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, monospace;
}

:root {
  --c-body: rgb(10, 10, 24);

  --c-border: rgb(0 255 255);



  /* header */
  --c-page-name: rgb(255 255 255);
  --f-s-page-name: 20px;
  
  --c-nav__text: rgb(200 200 200);
  --f-s-nav__text: 12px;



  /* main */
  --c-section-name: rgb(200 200 200);
  --f-s-section-name: 20px;

  --c-section-text: rgb(180 180 180);
  --f-s-section-text: 14px;
}

body {
  background: var(--c-body);
  padding-bottom: 10vh;
}

hr {
  border: 0px solid transparent;
  border-bottom: 0.5px solid var(--c-border);
}

img {
  width: 100%;
  height: 100%;
}


/* header */

.header {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.page-name {
  color: var(--c-page-name);
}

.nav__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav__ul a, li {
  text-decoration: none;
  list-style: none;
}

.nav__text {
  color: var(--c-nav__text);
}

.nav__text:hover {
  color: rgb(0 255 255);
}



/* main */

main {}

section {
  margin: 20px auto;
  width: 80%;
}

.section-name {
  color: var(--c-section-name);
  font-size: var(--f-s-section-name);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/design-web-b.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.home .section-name {
  padding: 2px 6px;
  border-radius: 8px;
  display: inline;
  background: rgba(0, 0, 0, .6);
  -webkit-backdrop-filter: blur(1px);
}

.section-text {
  /* border: 1px solid var(--c-border); */
  padding: 10px;
  color: var(--c-section-text);
  font-size: var(--f-s-section-text);
}

.section-text img {
  border-radius: 10px;
  float: right;
  width: 120px;
}